* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #dbf9f4ff;
    --cor2: #e6fdffff;
    --cor3: #b0dffcff;
    --cor4: #00a8e0ff;
    --cor5: #007aa3ff;

    --cor1-dark: #b4f2e8ff;
    --cor2-dark: #b5f9ffff;
    --cor3-dark: #87cefbff;
    --cor4-dark: #0097caff;
    --cor5-dark: #006e93ff;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(100deg,var(--cor3-dark),var(--cor3));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 27);
}


main {
    width: 70%;
    height: 500px;
    max-width: 600px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    animation:  800ms forwards;
}



header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--cor5-dark);
}

#section1 {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2 {
    margin-top: -20px;
}

#section2, #section3 {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section3 {
    
    align-items: start;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 5rem;
    width: 20%;
    background-color: var(--cor3-dark);
    text-align: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

input {
    width: 70%;
    height: 5rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    border: 1px solid rgba(0, 0, 0, 0.322);
    border-left: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    padding: 0 10px;
    font-size: 2rem;
}

input:focus {
   outline: 0;
   border: 2px solid rgba(96, 223, 46, 0.603);
   border-left: 0;
    
}

button {
    width: 90%;
    height: 3.5rem;
    border: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    background-color: var(--cor3-dark);;
    font-size: 2.1rem;
    border-radius: 2px;
    font-weight: normal;
}

button:hover {
    transition: 400ms;
    background-color: var(--cor3);
    font-size: 2rem;
    font-weight: normal;
}

#textValidation {
    width: 100%;
    height: 10%;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(175, 53, 53);
   
}

#loginAceito {
    color: green;
    font-size: 3rem;
    animation: 1s;

}


#login {
    position: absolute;
    z-index: -10;
    opacity: 0;
    text-shadow: rgb(150, 51, 51);
    animation: 1s forwards;
    font-size: 3rem;
   
    
}

@keyframes transitionLogin {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}


@keyframes menuTransition {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}